<p style="color: green"><%= notice %></p>

<% content_for :title, "Matches" %>

<h1>Matches</h1>

<table class="table table-striped" id="matches">
  <thead>
    <tr>
      <th>Round</th>
      <th>Player A</th>
      <th>Player B</th>
      <th>Winner</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.round %></td>
        <td><%= match.player_a.name %></td>
        <td><%= match.player_b.name %></td>
        <td><%= match.winner.name %></td>
        <td>
          <%= link_to "Show", match, class: "btn btn-sm btn-outline-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New match", new_match_path, class: "btn btn-primary" %>
